<%= form_with(model: keychain, local: true) do |form| %>
  <% if keychain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keychain.errors.count, "error") %> prohibited this keychain from being saved:</h2>

      <ul>
        <% keychain.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.radio_button :pattern, '1', {:checked => true }%>
    <%= image_tag 'pattern1.png', width:200 %><br>
    <br>
    <%= form.radio_button :pattern, '2' %>
    <%= image_tag 'pattern2.png', width:200 %><br>
    <br>
    <%= form.radio_button :pattern, '3' %>
    <%= image_tag 'pattern3.png', width:200 %><br>
    <br>
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>
  <div>
    ※注意<br>
    下のボタンを押すとご自身のSUZURIアカウントに文字とテンプレートが合成されたアクキーが公開される状態で追加されます！<br>
    <br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
