<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @t_shirt.message %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @t_shirt.pattern %>
</p>

<%= link_to 'Edit', edit_t_shirt_path(@t_shirt) %> |
<%= link_to 'Back', t_shirts_path %>
